.myCustomClass{
    text-decoration: underline;
    background-color:palegreen
}
.my_custom_row {
    background: gainsboro;
}
.margin_plus{
    color: rgb(4, 145, 4) !important;
}
.margin_minus{
    color: red !important;
}
